name: build

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '.devcontainer/**'
      - '**.md'
      - '.idea/**'
      - '.*'
      - '/*/.*'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '.devcontainer/**'
      - '**.md'
      - '.idea/**'
      - '.*'
      - '/*/.*'

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      rabbitmq:
        image: rabbitmq:4.1
        ports:
          - 5672:5672
        options: >-
          --health-cmd "rabbitmq-diagnostics -q ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-pdm

      - name: Install dependencies
        run: pdm run install-all

      - name: Run tests
        run: pdm run pytest -n auto -m "not (flaky or selenium or external)"

      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          # NOTE: this directory is defined in pyproject.toml
          name: allure-results
          path: allure-results/

  docs:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-pdm

      - name: Download test results
        uses: actions/download-artifact@v4
        with:
          name: allure-results
          path: allure-results/

      - name: Install dependencies
        run: pdm run install-all

      - name: Generate Allure report
        run: |
          npm install -g allure-commandline
          allure generate allure-results -o docs/reports --clean

      - name: Build MkDocs site
        run: pdm run mkdocs build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
